{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="{% static 'js/shop.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="header__top">
            <div class="location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <span class="location__text">Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</span>
            </div>

            <div class="validation">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="validation__register">Đăng xuất</a>
                {% else %}
                <a href="{% url 'signup' %}" class="validation__register">Đăng ký</a>
                <hr>
                <a href="{% url 'login' %}" class="validation__login">Đăng nhập</a>
                {% endif %}
            </div>
        </div>

        <div class="header__center">
            <a href="#" class="logo">
                <img class="logo__img" src="./img/plant 1.svg" alt="">
                <span class="logo__text">ORGANIC SHOP</span>
            </a>
            <form method="POST" action="{% url 'search' %}">
            <div class="search-box">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" class="search-box__input" placeholder="Tìm kiếm sản phẩm" name="searched">
                <button class="search-box__btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            </form>

            <div class="wishlist-cart">
                <a class="js-popup-ticket" href="{% url 'fruits' %}"><i class="js-popup-ticket fa-solid fa-cart-shopping" id="add-cart"></i></a>
            </div>
        </div>
        
        <div class="navbar">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Trang chủ</a>
                    <hr>
                </li>

                <li>
                    <a href="{% url 'fruits' %}">Sản phẩm</a>
                    <hr>
                </li>

                <li>
                    <a href="{% url 'about' %}">Bài viết</a>
                    <hr>
                </li>

                <li>
                    <a href="{% url 'shipped_dash' %}">Lịch sử mua hàng</a>
                    <hr>
                </li>

                <li>
                    <a href="{% url 'not_shipped_dash' %}">Hàng đang giao</a>
                    <hr>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="phone">
                <a href="{% url 'profile' %}"><i class="fa-solid fa-user-large phone__icon"></i></a>
            </div>
            {% endif %}
        </div>
    </header>

    <!--Body shop 2-->
    <div class="body">
        <div class="card">
            <div class="card-header">
              Order {{ order.id}} - ${{order.amount_paid}}
            </div>
            <div class="card-body">
              {% if order.date_shipped %}
                Date Shipped: {{ order.date_shipped}}
              {% else %}
               Date Ordered: {{ order.date_ordered}}
              {% endif %}
              <br/><br/>
              {{ order.full_name }}<br/>
              <pre>{{ order.shipping_address }}
              </pre>
              {% for item in items %}
                {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br/>
          
              {% endfor %}
              <br/><br/>
            </div>
          </div>
    </div>
    <script>
    </script>
</body>
</html>